.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.shotWrapper { 
  overflow: hidden;
  width: 40%;
  display: flex;
  justify-content: center;
} 
.shot {
  width: 140%;
}

.myCanvas {
  width: 50%;
}

.logo {
  width: 20%
}
